PyQt5
PyQtWebEngine
matplotlib
cycler
scipy
numpy
h5py
pyqtgraph
pandas
pynwb
ndx-ecog
ndx-spectrum
ndx-survey-data
ndx-bipolar-scheme>=0.3.1
ndx-hierarchical-behavioral-data
pyopengl
process_nwb
PyYAML
tdt
